
<div class="sign-in-cnt" style="display: flex; justify-content: center; align-items: center; margin-top: 100px;">
    <div class="sign-in-inner-cnt">
        <div class="sign-in-hedding-cnt">
            <p style="font-size: 48px; color: orange; font-weight: bold; ">Hospital</p>
            <br>
            <p style="font-size: 38px;">Patient Registeration Form</p>
        </div>
<br>
        <div>
            <form [formGroup]="registerForm" style="display: flex; flex-direction: column;">

                <mat-form-field>
                    <mat-label>Name</mat-label>
                    <input matInput formControlName="name" placeholder="Enter your name">
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Age</mat-label>
                    <input matInput formControlName="age" placeholder="Enter your age">
                    <mat-error *ngIf="registerForm.get('age')?.invalid">Invalid age</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Email</mat-label>
                    <input matInput formControlName="email" placeholder="Enter your email">
                    <mat-error *ngIf="registerForm.get('email')?.invalid">Invalid email</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>PhoneNumber</mat-label>
                    <input matInput formControlName="phno" placeholder="Enter your PhoneNumber">
                    <mat-error *ngIf="registerForm.get('phno')?.invalid">Invalid PhoneNumber</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <mat-label>Password</mat-label>
                    <input matInput type="password" formControlName="password" placeholder="Enter your password">
                    <mat-error *ngIf="registerForm.get('password')?.invalid">Password must be at least 6
                        characters</mat-error>
                </mat-form-field>
            </form>
        </div>
        <br>
        <div class="sign-in-create-acc-btn-cnt" style="display: flex; justify-content: space-between;">
            <button mat-button (click)="handleLogin()">Login instead</button>
            <button mat-button (click)="handleRegister()">Register</button>
        </div>
    </div>
</div>
