<mat-toolbar style="height: 100px; display: flex; justify-content: space-between; background-color: hwb(0 0% 0% / 0.582);">
  <span>YOU-HEAL MultiSpeciality Hospital</span>

  <!-- Conditionally render the Login button or the menu -->
  <div *ngIf="!isLoggedIn">
    <button mat-raised-button color="primary" (click)="handleLogin()">Login</button>
  </div>

  <div *ngIf="isLoggedIn" style="display: flex; align-items: center;">
    <button mat-icon-button [matMenuTriggerFor]="menu">
      <span class="letter-icon"><mat-icon>account_circle</mat-icon></span>
    </button>
    <mat-menu #menu="matMenu">
      <button mat-menu-item (click)="handleProfile()">
        <mat-icon>account_circle</mat-icon>
        <span>Profile</span>
      </button>
      <button mat-menu-item (click)="handleHistory()">
        <mat-icon>history</mat-icon>
        <span>History</span>
      </button>
      <button mat-menu-item (click)="handleInvoice()">
        <mat-icon>receipt</mat-icon>
        <span>Invoice</span>
      </button>
      <button mat-menu-item (click)="handleLogout()">
        <mat-icon>logout</mat-icon>
        <span>Logout</span>
      </button>
    </mat-menu>
  </div>
</mat-toolbar>

<router-outlet></router-outlet>
