.letter-icon {
    font-size: 25px;
    font-weight: bold;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    border-radius: 50%;
    // background-color: #e0e0e0; /* Optional: Background for the icon */
    color: #000; 
    text-transform: uppercase;
  }
  