<div  class="main-layout">
<div class="smallCard">
<p>Appointments</p>
</div>
<div class="border"></div>
<div class="appointments-container" style="display: flex; flex-wrap: wrap; gap: 16px; margin-top: 20px; margin-left: 20px;">
    <div *ngFor="let appointment of appointments" class="appointment-card" style="border: 1px solid #ddd; padding: 16px; border-radius: 8px; width: 300px; box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);">
      <button mat-icon-button>
        <mat-icon>person</mat-icon>
      </button>
      <p>{{appointment.patientName}}</p>      
      <button mat-raised-button color="primary" (click)="attendAppointment(appointment)">Attend</button>
    </div>
  </div>
</div>
  