@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-container {
  background-color: transparent !important;
  box-shadow: none !important;
}

.loginsignup-main-cnt{
  display: flex;
  justify-content: center;
  align-items: stretch;
  width: 750px; //1
  // height: 500px;
}

.loginsignup-container {
  display: flex;
  justify-content: center;
  align-items: stretch;
  font-family: 'Roboto', Arial, sans-serif;
  background-color: white;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  width: 100%;
  // height: 100%;
}

.loginsignup-image-card {
  width:60%; //2
  height: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: #f5f5f5;
  border-radius: 8px 0 0 8px;
  padding: 2rem;  
  margin-top: 5%;
  margin-bottom: 5%;
}

.loginsignup-image {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin-bottom: 1.5rem;
  object-fit: cover;
}

.loginsignup-caption {
  font-size: 1.2rem;
  font-weight: bold;
  color: #2196F3;
  margin: 1rem 0;
}
.loginsignup-form-card {
  width: 100%;
  background-color: white;
  border-radius: 8px 8px 8px 8px;
  padding: 1.5rem;
}

.loginsignup-tabs {
  display: flex;
  justify-content: space-around;
  margin-bottom: 2rem;
}

.loginsignup-tab {
  padding: 0.5rem 1rem;
  cursor: pointer;
  font-weight: bold;
  color: #666;
  font-size: 1.2rem;
  position: relative;

  &.active {
    color: #2196F3;
    &:after {
      content: '';
      position: absolute;
      bottom: -0.2rem;
      left: 0;
      width: 100%;
      height: 2px;
      background-color: #2196F3;
    }
  }
}

.loginsignup-form {
  form {
    display: flex;
    flex-direction: column;
    gap: 0.3rem;
    width: 250px;
    // height: 500px;

  }
}

.full-width {
  width: 150%;
}

.loginsignup-form-button {
  width: 150%;
  margin-top: 0.3rem;
}

.or-container {
  display: flex;
  align-items: center;
  margin: 1rem 0;
  width: 150%;


}

.or-line {
  flex-grow: 1;
  height: 1px;
  background-color: #ccc;
  margin-top: 26px;
}

.or-text {
  margin: 0 1rem;
  color: #666;
  margin-top: 26px;
}

.social-buttons {
  display: flex;
  gap: 1rem;
  width: 150%;
}

.social-btn {
  flex: 1;
  // margin-top: 20px;
}

.facebook-btn {
  background-color: #1877F2;
  color: white;
  height: 4%;
  margin-top: 26px;
}

.google-btn {
  background-color: #DB4437;
  color: white;
  height: 4%;
  margin-top: 26px;
}