<div class="sign-in-cnt">
    <div class="sign-in-inner-cnt">
      <div class="sign-in-hedding-cnt">
        <p class="app-title">Hospital</p>
        <br>
        <p class="app-subtitle">Patient Login</p>
      </div>
  
      <form [formGroup]="loginForm" class="login-form">
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Email</mat-label>
          <input matInput formControlName="email" placeholder="Enter your email">
          <mat-error *ngIf="loginForm.get('email')?.invalid">Invalid email</mat-error>
        </mat-form-field>
  
        <mat-form-field appearance="fill" class="form-field">
          <mat-label>Password</mat-label>
          <input matInput type="password" formControlName="password" placeholder="Enter your password">
          <mat-error *ngIf="loginForm.get('password')?.invalid">Password must be at least 6 characters</mat-error>
        </mat-form-field>
      </form>
  
      <div class="button-container" >
        <button mat-raised-button color="primary" (click)="handleLogin()">Login</button>
        <button mat-flat-button color="accent" (click)="handleRegister()">Create Account</button>
      </div>
    </div>
  </div>
  