/* Main container for the page */
.page-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 10px; /* Add space from the top */
  padding: 20px;
  position: relative;
  margin-left: 550px;
  // margin-right: 100px;
}

/* Small card styles */
.small-card {
  padding: 10px 15px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  font-weight: bold;
  color: #333;
  width: fit-content;
  text-align: center;
  margin-left: -150px;
  // margin-bottom: 15px; /* Space between small card and next section */
}

/* Breadcrumb Styles */
.breadcrumb-container {
  padding: 0.5rem 1rem;
  // background-color: #f9f9f9;
  border-radius: 8px;
  margin: 10px 0;
  display: flex;
  gap: 0.5rem;
  font-size: 14px;
  max-width: 600px;
}

.border{
  border: 1px solid #ddd;
  width: 550px;
  margin-left: 8px;
}

/* Loading and No Data Styles */
.loading-message, .no-data-message {
  font-size: 16px;
  color: #888;
  text-align: center;
  margin-top: 20px;
}

/* Appointment Details */
.appointment-details {
  padding: 1rem;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 1rem 0;
}

/* Appointment Accordion Styling */
mat-accordion {
  width: 100%;
  margin-top: 20px; /* Adjust to add space from the card */
}

mat-expansion-panel {
  margin-bottom: 1rem;
}

mat-expansion-panel-header {
  background-color: #f9f9f9;
  color: white;
}

mat-expansion-panel-header:hover {
  background-color: #0056b3;
}
