<mat-toolbar style="height: 100px; display: flex; justify-content: space-between;">
    <span>YOU-HEAL MultiSpeciality Hospital</span>
    
    <div *ngIf="!isLoggedIn">
      <button mat-raised-button color="primary" (click)="handleLogin()">Login</button>
    </div>
  
    <div *ngIf="isLoggedIn">
      <button mat-icon-button [matMenuTriggerFor]="menu">
      <mat-icon >account_circle</mat-icon>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="handleDoctors()">
          <mat-icon>local_hospital</mat-icon>
          <span>See All Doctors</span>
        </button>
        <button mat-menu-item (click)="handleLogout()">
          <mat-icon>logout</mat-icon>
          <span>Logout</span>
        </button>
      </mat-menu>
      
    </div>
  </mat-toolbar>
  <router-outlet></router-outlet>
  
