<div class="book-appointment-container">
    <!-- Small card in the top-left corner -->

    <div class="top-left-card">
      <span>Book Appointment</span>
    </div>
    <div class="border">

    </div>
    <!-- Main content -->
    <div class="sign-in-cnt">
      
      <div class="sign-in-inner-cnt">
        <div class="sign-in-hedding-cnt">
          
          <br />
        </div>
        <br />
        <div>
          <form [formGroup]="bookAppointmentForm" class="appointment-form">
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Ailment</mat-label>
              <input matInput formControlName="ailment" placeholder="Enter Your health issue" />
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Choose a date</mat-label>
              <input matInput formControlName="date" [matDatepicker]="picker" />
              <mat-hint>MM/DD/YYYY</mat-hint>
              <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
              <mat-datepicker #picker></mat-datepicker>
            </mat-form-field>
            <br />
  
            <mat-chip-listbox aria-label="Time selection" class="chip-list">
              <mat-chip-option>10AM-1PM</mat-chip-option>
              <mat-chip-option>3PM-6PM</mat-chip-option>
              <mat-chip-option>7PM-10PM</mat-chip-option>
            </mat-chip-listbox>
            <br />
  
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Choose a specialization</mat-label>
              <mat-select formControlName="specialization" (selectionChange)="onSpecializationChange($event.value)">
                <mat-option *ngFor="let specialize of specializationList" [value]="specialize">
                  {{ specialize }}
                </mat-option>
              </mat-select>
            </mat-form-field>
  
            <mat-form-field appearance="outline" class="full-width">
              <mat-label>Choose a Doctor</mat-label>
              <mat-select formControlName="doctor_id">
                <mat-option *ngFor="let doctor of doctorList" [value]="doctor._id">
                  {{ doctor.doctor_name }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </form>
        </div>
        <br />
        <div class="sign-in-create-acc-btn-cnt">
          <button mat-raised-button color="primary" (click)="BookAppointment()">Book Appointment</button>
        </div>
      </div>
    </div>
  </div>
  