.book-appointment-container {
    // position: relative;
    // padding: 20px;
    // margin-left: 100px;
    // margin-right: 100px;
    display: flex;
    flex-direction: column;
    // justify-content: center;
    // align-items: center;
    margin: auto;
    width: 68%;
    margin-top: 70px;
}
    /* Small card in the top-left corner */
    .top-left-card {
      // position: relative;
      // top: 20px;
      // left: 20px;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #f5f5f5;
      border: 1px solid #ddd;
      border-bottom: none;
      border-radius: 8px 8px 0px 0px;
      padding: 10px 15px;
      box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
      font-size: 14px;
      font-weight: bold;
      width: 140px;
      // margin-left: 300px;
    }
    .border{

      border: 1px solid #ddd;
      width: 100%;
    }
  
    .sign-in-cnt {
      display: flex;
      justify-content: center;
      align-items: center;
      margin-top: 50px;
  
      .sign-in-inner-cnt {
        padding: 20px;
        border: 1px solid #ddd;
        border-radius: 8px;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
        background-color: #fff;
  
        .sign-in-hedding-cnt {
          .hospital-title {
            font-size: 48px;
            color: orange;
            font-weight: bold;
          }
  
          .appointment-title {
            font-size: 38px;
          }
        }
  
        .appointment-form {
          display: flex;
          flex-direction: column;
  
          .full-width {
            width: 500px;
          }
  
          .chip-list {
            display: flex;
            justify-content: space-between;
          }
        }
  
        .sign-in-create-acc-btn-cnt {
          display: flex;
          justify-content: center;
        }
      }
    }
  
  